*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #dee0e3;
}
.heading{
    text-align: center;
    margin-top: 25px;
}
.heading h1{
    font-size: 50px;
    color: #36455c;
    margin-bottom: 10px;
}
.heading p{
    font-size: 20px;
    color: #666;
    margin-bottom: 50px;
}
.about-us{
    display: flex;
    align-items: center;
    width: 85%;
    margin: auto;
}
.about-us{
    flex:0 50% ;
    min-width: 50%;
    height: auto;
}
.content{
    padding: 35px;
}
.content h2{
    color: #36455c;
    font-size: 24px;
    margin:15px 0px ;
}
.content p{
    color: #666;
    font-size: 18px;
    line-height: 1.5;
    margin:15px 0px ;
}
.read-more-btn{
    display: inline-block;
    color: #fff;
    background-color: #0084ff;
    border: none;
    border-radius: 5px;
    padding: 12px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s ease;

}
.read-more-btn:hover{
    background-color: #006dd6;
}
@media(max-width: 768px){
    .about-us{
        flex-direction: column;
    }
    .about-us img{
        flex:0 100% ;
        max-width: 100%;
    }
    .content{
        flex:0 100%;
        max-width: 100%;
        padding: 15px;
    }
}
body{
    background: #55ffe5;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 80;
    margin: 50px auto
}
.contact-box{
    background: #fff;
    display: flex;
}
.contact-left{
    flex-basis: 60%;
    padding: 40px  60px;
}
.contact-right{
    flex-basis: 40%;
    padding: 40px;
    background:  #7755ff;
    color: #fff;
}
h1{
    margin-bottom: 10px;
}
.container p{
    margin-bottom: 40px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
}
textarea {
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
label{
    margin-bottom: 6px;
    display: block;
    color: rgb(0, 255, 13);

}
button{
    background: #1c00b5;
    width: 100px;
    border: none;
    outline: none;
    color: #fff;
    height: 30px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0,3);
}
.contact-right h2{
    font-weight: 600;
    margin-bottom: 30px;
}
tr td:first-child{
    padding-right: 20px;
}
tr td{
    padding-top: 20px;
}