@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
:root{
    --main-bg-color: #792aa5;

}
*{
padding: 0;
margin: 0;
}
.logo img{
   width: 80px;
   padding: 0 25px;
    
}
.logo{
    display: flex;
    align-items: center;

}
footer{
    height: 12vh;
    background-color: var(--main-bg-color);
    font-family: 'Merriweather', serif;
    color: aliceblue;
}

header{
    
    background-color: var(--main-bg-color);
    font-family: 'Merriweather', serif;
}
nav {
    display: flex;
}
nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 58px;
}

nav ul li{
    list-style: none;
    padding: 0 23px;
}

nav ul li a{
    color: aliceblue;
    text-decoration: none;
}

.search{
    display: flex;
    align-items: center;
}
.search input{
    width: 444px;
    height: 40px;
    border-radius: 2px;
    margin: 0 10px ;
    font-family: 'Merriweather', serif;
    padding: 0px 12px;
}
.container{
    min-height: calc(100vh - 58px - 12vh);
}

/* main css */

.card 
{ 
    max-width: 200vh;
    margin: auto;

    ;

}

.m26{
    margin: 26px 0px;
}

.card-item
{
    margin: 10px 20px;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
}

.produt-slider
{
background-color: black;


}

.produt-slider img{
    margin: 0vh 90vh;
    
}

.content
{
    margin: 0vh 30vh;
    background-color: white;
    border-radius: 15px;
   
}
.abc{
    background-color: antiquewhite;
}
.content h3{
    color: green;
}
.content h2{
    color: goldenrod;
}

.content form{
    margin: 0px 300px;
    width: 60vh;
}

.content form input{
    width: 444px;
    height: 40px;
}