.text-center{
    display: flex;
    justify-content: center;
    align-items: center; 
}

.btn{
    width: 40px;
    display: flex;
    height: 40px;
    border-radius: 5px;
}
#img{
    width: 33px;
}

.slider img{
    width: 120vh;
    margin: 0vh 50vh;
}

.slider{
    background-color: #1a123a;
    ;
}

.text-center1
{
    text-align: center;
    text-decoration: none;
    color: black;

}

a{
    text-decoration: none;
}